# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints/
*.py[cod]
*$py.class

# C extensions
*.so

/inference/
/inference_results/
/output/
/train_data/
/log/

*.DS_Store
*.vs
*.user
*~
*.vscode
*.idea

*.log
.clang-format
.clang_format.hook

build/
dist/
*.egg-info/

/deploy/android_demo/app/OpenCV/
/deploy/android_demo/app/PaddleLite/
/deploy/android_demo/app/.cxx/
/deploy/android_demo/app/cache/

test_tipc/web/models/
test_tipc/web/node_modules/

.venv/
.worktrees/
PaddleOCR-Standalone/Wrappers/GPU-CUDA-11.8/wrapper.dist/
PaddleOCR-Standalone/Wrappers/GPU-CUDA-11.8/PaddleOCR-GPU-v*.*.0-CUDA-11.8.7z
PaddleOCR-Standalone/Wrappers/GPU-CUDA-11.8/PaddleOCR-GPU-v*.*.0-CUDA-11.8/*
PaddleOCR-Standalone/Wrappers/GPU-CUDA-11.8/wrapper.build/
PaddleOCR-Standalone/Wrappers/GPU-CUDA-12.9/wrapper.dist/
PaddleOCR-Standalone/Wrappers/GPU-CUDA-12.9/PaddleOCR-GPU-v*.*.0-CUDA-12.9.7z
PaddleOCR-Standalone/Wrappers/GPU-CUDA-12.9/PaddleOCR-GPU-v*.*.0-CUDA-12.9/*
PaddleOCR-Standalone/Wrappers/GPU-CUDA-12.9/wrapper.build/
PaddleOCR-Standalone/Wrappers/CPU/wrapper.dist/
PaddleOCR-Standalone/Wrappers/CPU/PaddleOCR-CPU-v*.*.0.7z
PaddleOCR-Standalone/Wrappers/CPU/PaddleOCR-CPU-v*.*.0/*
PaddleOCR-Standalone/Wrappers/CPU/wrapper.build/
PaddleOCR-Standalone/Installer/Output/
